/* *,
*::before,
*::after { 
  box-sizing: border-box;
} */

body{
    background-color: black;
    margin: 0;
    padding: 0;
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
}
a{
    color:aquamarine;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a:hover{
    color: aqua;
}
a:visited{
    color: rgb(244, 158, 255);
}
a:visited:hover{
    color: rgb(236, 96, 255);
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .2em 0;
}
h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
header{
    background-color:rgb(117, 0, 117);
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0;
    margin: 0;
}
button{
    background-color: rgb(46, 0, 42);
    color: #ffffff;
    border-radius: 1rem;
    height: 3.5rem;
    width: 10rem;
    border: 0.5rem solid rgb(68, 0, 255);
    border-top: 0.5rem solid rgb(35, 94, 255);
    border-left: 0.5rem solid rgb(35, 94, 255);
    font-size: large;
    cursor: pointer;
}
button:hover{
    border: 0.5rem solid rgb(35, 94, 255);
    border-top: 0.5rem solid rgb(68, 0, 255);
    border-left: 0.5rem solid rgb(68, 0, 255);
    background-color: rgb(71, 5, 66);
}
button:active{
    background-color: rgb(70, 17, 100);
    cursor: grabbing;
}
.header_left_col {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header_right_col {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: end;
}
footer{
    background-color:rgb(117, 0, 117);
}
main{
    background-color:rgb(0, 0, 0);
}
.logo{
    display: inline-block;
    align-self: center;
    padding: 0.1em;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 37.5%;
}
.hero{
    display:flex;
    flex-direction: row;
    text-decoration: none;
}
#header_text{
    display: inline-block;
    align-self: center;
    padding-left: 0.5em;
}
header > hr{
    color: blueviolet;
    padding: 0;
    margin: 0;
}
footer > hr{
    color: blueviolet;  
    padding: 0;
    margin: 0;  
}
.header_link_img{
    display: inline-block;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25%;
}
.header_link{
    text-decoration: none;
}
#links{
    padding: 10px;
    padding-left: 20px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: rgb(1, 0, 65);
  color: #ffffff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.opening_blabber{
    display: inline-block;
    align-self: center;
    margin: auto 25%;
    display:flex;
    flex-direction: row;
    text-decoration: none;
}
.opening_blabber > img{
    margin: 50px;
}
.opening_text{
    text-align: justify;
}
.stuff{
    background-color: rgb(255, 0, 0);
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
}
center{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bell{
    height: 100;
}
#footing_links{
    font-size: small;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: left;
    margin: auto 25%;
    padding-bottom: 50px;
    padding-left: 6.25%;
}
.gallery{
    background-color: rgb(0, 0, 29);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.gal_item > h2{
    color: rgb(255, 255, 255);
}
.gal_item > p{
    text-align: justify;
}
.gal_item{
    background-color: rgb(0, 49, 51);
    display: flex;
    margin: 2%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    flex: 2 1 30%;
    position: relative;
}
.gal_img{
    border-radius: 2rem;
    height: 200px;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#more_images_gallery{
    background-color: rgb(255, 223, 210);
}
.more_img{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 2 1 50%;
    max-width: 50%;
    position: absolute;
    border-radius: 1em;
    box-shadow: 0 0 1em rgb(58, 58, 58);
}
.more_img-ba{
    left: 10%;
    top: 10%;
}
.more_img-iwb{
    bottom: 10%;
    right: 10%;
}
.gal_img-bp{
    background-image: url(/images/banner-bp.png);
}
.gal_img-be{
    background-image: url(/images/banner-be.png);
}
.gallery_header{
    margin-left: 3rem;
}
.recent_changes{
    display:flex;
    flex-direction: row;
    background-color: #00000093;}
.gal_links{
    bottom: 0;
    position: absolute;
    padding-bottom: 0.2em;
}
button{
    margin: 1em;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
a.recent_changes{
    padding: 0.35em;
    position: absolute;
    right: 0;
    top: 5%;
    color: #ffffff;
}
a.recent_changes:hover{
    color: #bbbbbb;
}
a.recent_changes:visited{
    color: #dadada;
}
a.recent_changes:visited:hover{
    color: #999999;
}
.recent_changes{
    display: flex;
    align-items: center;
    padding-top: 0.35em;
}
a.recent_changes > img{
    padding-right: 0.35em;
}
.page_bottom{
    font-size: small;
}
.fun_project_link{
    margin-left: 5rem;
}
/* video player */
.material-icons{
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 5px;
}
.container #video_player{
    position: relative;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
    padding: 0;
    margin: 0;
}
.container #video_player #main_video{
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
}
.container #video_player .controls{
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(0 0 0 / 71%);
    box-shadow: 0 0 40px 10px rgb(0 0 0 / 25%);
    z-index: 3;
    transform: translateY(0);
}
#video_player .controls .progress-area{
    width: 100%;
    height: 5px;
    margin: auto;
    background: #ffffff;
    cursor: pointer;
}
.controls .progress-area .progress-bar{
    position: relative;
    width: 50%;
    background: rgb(117, 0, 117);
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
}
.controls .progress-area .progress-bar::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(117, 0, 117);
}
.controls .controls-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 97%;
    height: 45px;
    margin: 0 auto;
    align-items: center;
}
.controls .controls-list .controls-left,
.controls .controls-list .controls-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .controls-left .timer{
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.controls .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 8px;
    margin-right: 5px;
}
.controls .icon .material-icons{
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}
.controls .icon .material-icons.fast-rewind:active{
    transition: 0.2s;
    transform: rotate(-45deg);
}
.controls .icon .material-icons.fast-forward:active{
    transition: 0.2s;
    transform: rotate(45deg);
}
.controls .icon .volume_range{
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 0px;
    background: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s;
}
.controls .icon .volume_range::-webkit-slider-thumb,
.controls .icon .volume_range::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #fff;
    transition: 0.3s;
    opacity: 0;
}
.controls .icon:hover .volume_range{
    display: inline-block;
    width: 60px;
}
.controls .icon:hover .volume_range::-webkit-slider-thumb,
.controls .icon:hover .volume_range::-moz-range-thumb{
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}
.controls-right .icon .auto-play{
    width: 30px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    margin-right: 8px !important;
    background: #b6b6b6;
}
.controls-right .icon .auto-play::before{
    content: '\e034';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 60%;
    background: rgb(117, 0, 117);
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-family: "Material Icons";
}
.controls-right .icon .auto-play:active::before{
    content: '\e037';
    left: 15px;
    font-family: "Material Icons";
}
.controls-right .icon .material-icons.settingsBtn{
    font-size: 24px;
    transition: 0.3s;
}
.controls-right .icon .settingsBtn:active{
    transform: rotate(45deg);
    transition: 0.2s;
}
#video_player #settings{
    position: absolute;
    bottom: 62px;
    right: 25px;
    background: rgb(28 28 28 / 90%);
    width: 200px;
    height: 250px;
    color: #fff;
    overflow-y: scroll;
    z-index: 5;
    display: none;
}
#video_player #settings .playback span{
    font-size: 17px;
    font-weight: 300;
    padding: 15px 30px;
    display: block;
    border-bottom: 1px solid rgb(83 83 83);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#video_player #settings .playback ul{
    position: relative;
    /* user-agent styles */
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#video_player #settings .playback li{
    position: relative;
    cursor: pointer;
    padding: 12px 33px;
    display: block;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
}
#video_player #settings .playback ul li:hover{
    background: rgba(28, 28, 28, 0.9);
}
#video_player #settings .playback ul li:active::before{
    content: '\e876';
    font-family: "Material Icons";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
@media(max-width: 800px){
    .container #video_player{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controls .icon{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 24px;
    }
}