/* *,
*::before,
*::after { 
  box-sizing: border-box;
} */

body{
    background-color: black;
    margin: 0;
    padding: 0;
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
}
a{
    color:aquamarine;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .2em 0;
}
header{
    background-color:rgb(117, 0, 117);
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0;
    margin: 0;
}
.header_left_col {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header_right_col {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: end;
}
footer{
    background-color:rgb(117, 0, 117);
}
main{
    background-color:rgb(0, 0, 0);
}
.logo{
    display: inline-block;
    align-self: center;
    padding: 0.1em;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 37.5%;
}
.hero{
    display:flex;
    flex-direction: row;
    text-decoration: none;
}
#header_text{
    display: inline-block;
    align-self: center;
    padding-left: 0.5em;
}
header > hr{
    color: blueviolet;
    padding: 0;
    margin: 0;
}
footer > hr{
    color: blueviolet;  
    padding: 0;
    margin: 0;  
}
.header_link_img{
    display: inline-block;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25%;
}
.header_link{
    text-decoration: none;
}
#links{
    padding: 10px;
    padding-left: 20px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: rgb(1, 0, 65);
  color: #ffffff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#opening_blabber{
    display: inline-block;
    align-self: center;
    margin: auto 25%;
    display:flex;
    flex-direction: row;
    text-decoration: none;
}
#opening_blabber > img{
    margin: 50px;
}
#footing_links{
    font-size: small;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: left;
    margin: auto 25%;
    padding-bottom: 50px;
    padding-left: 6.25%;
}
#opening_text{
    text-align: justify;
}
.gallery{
    background-color: rgb(0, 0, 29);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.gal_item > h2{
    color: rgb(255, 255, 255);
}
.gal_item > p{
    text-align: justify;
}
.gal_item{
    background-color: rgb(0, 49, 51);
    display: flex;
    margin: 2%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    flex: 2 1 30%;
    position: relative;
}
.gal_img{
    border-radius: 2rem;
    height: 200px;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#more_images_gallery{
    background-color: lightsalmon;
}
.more_img{
    border-radius: 25%;
    height: 100px;
}
.gal_img-bp{
    background-image: url(https://cdn.modrinth.com/data/4hu2S8FE/images/756ee3feb5e09974d8c768605a2faca7ed28b839.png);
}
.gal_img-be{
    background-image: url(https://cdn.modrinth.com/data/wW2bJm0a/images/4ed3336ad5ceb7104f2cfcf52464496fd0ebf044.png);
}
.gallery_header{
    margin-left: 3rem;
}
.recent_changes{
    display:flex;
    flex-direction: row;
}
.gal_links{
    bottom: 0;
    position: absolute;
    padding-bottom: 0.2em;
}
button{
    margin: 1em;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
a.recent_changes{
    padding-right: 0.35em;
    justify-content: end;
    text-shadow: 2px 2px 5px #000000;
    color: #000000;
}
.recent_changes{
    display: flex;
    align-items: center;
}
a.recent_changes > img{
    padding-right: 0.35em;
}